.container {
  --layout-bleed-size: 3mm;
  --bleed-size: 0mm;
  --tab-width: 36mm;
  --tab-height: 13.29mm;
  --tab-from-position: 0mm;
  --tab-to-position: 0mm;

  font-family: 'Atlantic Cruise Extended', sans-serif;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.bottomBacground {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8mm;
  background-color: #151616;
} 

.fr {
  .topTitle {
    padding-top: 0.9mm;
  }
}

.ru {
  font-family: 'Breamcatcher', sans-serif;
  .topTitle {
    padding-top: 0.7mm;
  }
  .bottomTitle {
    top: 40.8mm;
    height: 5mm;
    font-size: 6mm;
    line-height: 1em;
  }
  .bottomTitleText {
    height: 100%;
  }
  .bottomTitleWrapper {
    height: 100%;
  }
  .bottomTitleInput {
    height: 100%;
  }
  .letterIcon {
    top: 0.5mm;
    font-size: 0.8em;
  }
}

.ko {
  font-family: 'Line Seed', sans-serif;
  .topTitle {
    padding-top: 0.7mm;
  }
}

.zh, .zh-cn {
  font-family: 'Atlantic Cruise Digits', 'ZhenShuai', sans-serif;
  .topTitle {
    font-size: 3.8mm;
  }
  .bottomTitle {
    line-height: 1em;
    padding-top: 0.5mm;
    padding-bottom: 0.5mm;
    height: 6mm;
    font-size: 6mm;
  }
}

.tab {
  position: absolute;
  z-index: 3;
  top: 0;
  width: var(--tab-width);
  height: var(--tab-height);

  // clip-path: inset(0 3mm 0 3mm);
  &_left {
    // clip-path: inset(0 3mm 0 0);
    left: 0;
  }
  &_right {
    // clip-path: inset(0 0 0 3mm);
    right: 0;
  }
  &_center {
    // clip-path: inset(0 3mm 0 3mm);
    left: 50%;
    transform: translateX(-50%);
  }
}

.icon {
  position: absolute;
  z-index: 4;
  width: 100%;
  top: 4.3mm;
  bottom: 0.9mm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8.5mm;
  &:hover {
    opacity: 0.8;
  }
  &_xp {
    top: 1.8mm;
    font-size: 5mm;
  }
}

.iconWrapper {
  cursor: pointer;
}

.topTitle {
  line-height: 1;
  text-transform: capitalize;
  position: absolute;
  z-index: 5;
  left: 9mm;
  right: 9mm;
  top: 14mm;
  height: 5.2mm;
  text-align: center;
  font-size: 4mm;
  padding-top: 1.1mm;
  box-sizing: border-box;
  color: #050505;
  // display: grid;
  // align-items: center;
}

.bottomTitle {
  line-height: 1;
  text-transform: capitalize;
  position: absolute;
  z-index: 5;
  left: 26mm;
  right: 26mm;
  top: 40.3mm;
  height: 8.1mm;
  color: #050505;
  // padding-top: 0.8mm;
  text-align: center;
  // font-size: 5mm;
  font-size: 8mm;
  box-sizing: border-box;
}

.bottomTitleText {
  // display: flex;
  max-height: 100%;
}

.bottomTitleInput {
  max-height: 100%;
  white-space: nowrap;
}

.bottomTitleWrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.iconBackground {
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

.tabImage {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  filter: grayscale(1);
}

.tabOverlay {
  position: absolute;
  z-index: 2;
  mix-blend-mode: color;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bleed {
  --bleed-size: 3mm;
  .tab {
    clip-path: none;
  }
}

.body {
  position: absolute;
  z-index: 4;
  width: 100%;
  bottom: 0;
  left: 0;
}

.large .body {
  bottom: 5mm;
}

.bodyBleed {
  position: absolute;
  z-index: 2;
  top: 10.3mm;
  background-color: #151616;
  width: 100%;
  height: var(--layout-bleed-size);
}

// .tabGuides {
//   width: calc(100% - 6mm);
//   height: 7.1mm;
//   top: var(--layout-bleed-size);
//   left: var(--layout-bleed-size);
//   z-index: 2;
// }

.tabGuides {
  position: absolute;
  z-index: 4;
  top: var(--layout-bleed-size);
  height: calc(var(--tab-height) - var(--layout-bleed-size));
  background-color: #fff;
  
  --tab-from-position: var(--layout-bleed-size);
  --tab-to-position: calc(var(--tab-width) - var(--layout-bleed-size));

  &_left {
    left: var(--tab-from-position);
    right: var(--tab-to-position);
  }
  &_right {
    left: var(--tab-to-position);
    right: var(--tab-from-position);
  }
}

.bleed .tabGuides{
  background-color: transparent;
}

.center .tabGuides {
  --tab-to-position: calc((100% - var(--tab-width)) + var(--layout-bleed-size));
}

.sideXPCost {
  font-family: 'Breamcatcher', sans-serif;
  position: absolute;
  z-index: 3;
  top: 12.6mm;
  right: 11mm;
}

.xpCost {
  position: absolute;
  z-index: 4;
  font-size: 7mm;
  top: 4.7mm;
  left: 50%;
  transform: translateX(-50%);
}

.letterIcon {
  line-height: 1;
  position: relative;
  top: 1mm;
  font-size: 0.8em;
  width: 5mm;
  height: 7mm;
  text-align: center;
}

.moveTab {
  display: none;
  position: absolute;
  z-index: 5;
  width: 5mm;
  height: calc(100% - var(--layout-bleed-size) - 0.5mm);
  bottom: 0;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &_left {
    left: 3mm;

    .moveIcon {
      transform: scale(-1, 1);
    }
  }
  &_right {
    right: 3mm;
  }
}

.tab:hover {
  .moveTab {
    display: flex;
  }
}

.cornerRadius {
  z-index: 4;
  border-top: none;
}

.tabCornerRadius {
  border-color: rgba(255, 255, 255, 0.5);
}