@import "../../../../../sass/mixins.scss";

.tabHeader {
  position: absolute;
  z-index: 5;
  top: 2mm;
  // border-top: 1px solid black;
  left: 0;
  right: 0;
  // left: 13.6mm;
  // right: 10mm;
  height: 2mm;
  &::before {
    position: absolute;
    content: '';
    display: block;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 21mm;
    border-top: 1px solid black;
  }
  &::after {
    position: absolute;
    content: '';
    display: block;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 21mm;

    border-top: 1px solid black;
  }
}

.tabHeaderOverlay {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: white;
  top: -2mm;
  height: 4mm;
}

.tabHeaderBox {
  position: absolute;
  display: block;
  z-index: 7;
  height: 4mm;
  left: 21mm;
  right: 21mm;
  top: 0mm;
  box-sizing: border-box;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-width: 1px 1px 0 1px;
  // border-radius: 4mm 4mm 0 0;
}

.tabTopLine {
  position: absolute;
  z-index: 5;

  @include clipX(7mm, 39mm);
  top: 4.3mm;
  &_left {
    left: 3.9mm;
    height: 2.4mm;
  }

  &_right {
    right: 3.9mm;
    height: 2.4mm;
    transform: scale(-1, 1);
    @include clipX(5mm, 39mm);
  }
}

.tabTentacles {
  position: absolute;
  z-index: 5;
  width: 6mm;
  top: 4.8mm;
  // left: 
  &_left {
    left: 38mm;
  }
  &_right {
    transform: scale(-1, 1);
    right: 38mm;
  }
}

.type_tab {
  --offset: 3.5mm;

  .pattern {
    --offset: 0mm;
  }

  .lineIcon {
    top: 6.3mm;
  }
  .tabTentacles {
    top: 3.8mm;
  }
  .tabTopLine {
    top: 3.2mm;
    @include clipX(5.8mm, 39mm);
  }
  .topLine {
    // --offset: -1.93mm;
    --offset: -1.95mm;
    z-index: 7;
    @include clipX(40mm, 55mm);
    &_scenario,
    &_campaign,
    &_encounter,
    &_investigator {
      display: none;
    }
  }

  .topLineHandler {
    --offset: -0.07mm;
  }

  .centerBorder {
    --offset: 0mm;
  }

  .title {
    --offset: -0.3mm;
    left: 29.5mm;
    height: 4.3mm;
    right: 28mm;
    &_encounter,
    &_campaign {
      right: 25mm;
    }
    &_withSideXP {
      right: 40mm;
    }
  }
  
  &.language_zh, &.language_ko {
    .title {
      --offset: 0mm;
      font-size: 2.5mm;
    }
  }

  .specialCorner {
    height: 3mm;
    left: 50%;
    transform: translateX(-50%);
    top: 6.1mm;

    &_player {
      left: auto;
      transform: none;
      top: 3.7mm;
      right: 22.8mm;
    }
    &_withXPIcon {
      top: 3.8mm;
    }
    &_noXPIcon {
      top: 3.5mm;
    }
  }
  
  // &.xp {
  //   .specialCorner {
  //     top: 2.5mm;
  //   }
  // }

  // &.noXP {
  //   .specialCorner {
  //     left: 50%;
  //     transform: translateX(-50%);
  //     top: 5.1mm;
  //   }
  // }

  .sideXP {
    z-index: 5;
    right: 25.5mm;
    top: 1.9mm;
    transform: scale(0.8);
  }

  .xpCost {
    font-size: 3mm;
  }

  .previewIcon {
    --offset: 3.8mm;
    z-index: 4;
    width: 6mm;
    height: 4.4mm;
    font-size: 3.3mm;
    top: 3.3mm;
    left: 24mm;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .scenarioName {
    font-size: 3mm;
    padding: 0 1mm;
  }

  .scenarioCorner {
    z-index: 7;
    border-radius: 50%;
    
    top: 0.45mm;
    right: 21mm;
  }
  .pattern {
    height: 51mm;
  }

  .icon {
    --offset: -2mm;
    font-size: 20mm;
  }

  .topLeftCorner {
    top: 4.9mm;
    left: 0.8mm;
    width: 11mm;
  }

  .topRightCorner {
    transform: scale(-1, 1);
    top: 4.9mm;
    right: 0.8mm;
    width: 11.05mm;
  }

  .topLine {
    // display: none;
  }
  .scenarioTentacles {
    display: none;
  }
  
  &.size_small {

    .centerBorder {
      --offset: 1mm;
    }

    .scenarioCorner {
      right: 18mm;
    }
    .tabHeaderBox {
      left: 17mm;
      right: 17mm;;
    }

    .tabHeader {
      &::after,
      &::before {
        width: 17mm;
      }
    }
    .tabTopLine {
      left: -0.1mm;
      &_right {
        left: auto;
        right: -0.1mm;
      }
    }
    .previewIcon {
      left: 20mm;
    }

    .title {
      left: 25.5mm;
      right: 25mm;
      // right: 22mm;
      &_encounter,
      &_campaign {
        right: 22mm;
      }
      &_withSideXP {
        right: 36mm;
      }
    }

    .specialCorner {
      &_player {
        right: 18.8mm;
      }
    }
    .sideXP {
      right: 21.5mm;
    }

    .tabTopLine {
      @include clipX(10mm, 43.5mm);
    }
  }
}