
@use "@/app/sass/mixins.scss" as mixins;

.orientation_vertical {
  --offset: 0mm;
  .centerBorder {
    display: none;;
  }
  .pattern {
    --offset: calc(22.5mm / 2);
  }
  .icon {
    --offset: 9mm;
  }
  .pattern {
    transform-origin: left center;
    transform: rotate(90deg) translateX(-50%);
  }
  .topLine {
    // --offset: -1.98mm;
    --offset: -2.15mm;
    // --offset: -1.95mm;
    left: -22.4mm;
    @include mixins.clipX(44mm, 65mm);
    transform: scale(0.7);
    // width: 94.1mm;
    width: 107mm;
    // display: block;
    display: none;
    &_scenario {
      @include mixins.clipX(26.2mm, 68.2mm);
    }
    &_investigator {
      display: none;
    }
  }

  .topLineHandler {
    // display: none;
  }
  .lineIcon {
    top: 6.7mm;
  }

  .tabHeaderBox {
    display: none;
  }
  .tabHeaderOverlay {
    display: none;
  }
  

  .tabTopLine {

    @include mixins.clipX(23mm, 43.5mm);
    // display: none;
    &_left {
      left: -16mm;
    }
    &_right {
      right: -16mm;
    }
  }

  .tabHeader {
    display: none;
  }

  .tabTentacles {
    &_left {
      left: 22mm;
    }
    &_right {
      right: 22mm;
    }
  }

  .previewIcon {
    top: 3.8mm;    
    font-size: 3.5mm;
    left: 4mm;
    height: 4.4mm;
    // align-items: start;
  }

  .title {
    --offset: -0.27mm;
    left: 10mm;
    right: 10.5mm;
    &_encounter,
    &_campaign {
      right: 10mm;
    }
    &_withSideXP {
      right: 19mm;
    }
  }

  .scratches {
    &_1 {
      top: 51%;
      left: 36%;
      width: 226%;
    }
    &_2 {
      transform: none;
      width: 200%;
    }
  }
  .scenarioCorner {
    right: 1.5mm;
    top: 0.7mm;
    &_player {
      right: 1.5mm;
    }
  }

  .specialCorner {
    &_player {
      right: 2.5mm;
    }
  }
  .sideXP {
    right: 5mm;
  }
}