.background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.color {
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

.frame {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
}
