.container {
  position: relative;

  &:hover .clear {
    display: flex;
  }
}

.input {
  font-family: inherit;
  background-color: transparent;
  text-align: inherit;
  font-weight: normal;
  border: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;

  &:focus {
    outline: 2px solid rgba(0, 0, 0, 0.5);
    & + .clear {
      display: flex;
    }
  }
  &:hover {
    box-shadow: 0 0 5px rgba(99, 75, 75, 0.5);
  }
 
}

.clear {
  display: none;

  position: absolute;
  height: 100%;
  top: 0.1em;
  right: 0.2em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}