.container {
  align-items: center;
  gap: 10px;

  display: flex;
}

.disabled {
  color: lightgray;
}

.select {
  width: 100px;
}

.zoomButton {
  cursor: pointer;
  background: none;
  border: none;
}