@use 'sass:math';

@mixin clipX($left: 0%, $right: 100%) {
  clip-path: polygon($left 0, $right 0, $right 100%, $left 100%);
}

@mixin textStroke($color, $size: 1, $unit: 1px) {
  $value: ();
  $angle: 0;
  $step: 1 / $size;
  // $step: 1 / ($size * 2);
  @while $angle < 2 * math.$pi {
    $x: math.cos($angle) * $size;
    $y: math.sin($angle) * $size;
    
    $value: append($value, $x*$unit $y*$unit $color, comma);
    $angle: $angle + $step;
  }
  text-shadow: $value;
}

@mixin textStrokeFilter($color, $size: 1, $unit: 1px, $spread: 0) {
  $value: ();
  $angle: 0;
  $step: 1 / $size;
  // $step: 1 / ($size * 2);
  @while $angle < 2 * math.$pi {
    $x: math.cos($angle) * $size;
    $y: math.sin($angle) * $size;
    
    $value: append($value, $x*$unit $y*$unit $spread $color, comma);
    $angle: $angle + $step;
  }
  text-shadow: $value;
}

@mixin simpleTextStrokeFilter($color, $size: 1px) {
  filter: drop-shadow($size $size $color)  
    drop-shadow($size (-$size) $color) 
    drop-shadow((-$size) (-$size) $color) 
    drop-shadow((-$size) $size $color);
}
