@import "../../../../../sass/mixins.scss";

.container {
  font-family: 'Teutonic', 'Conkordia', 'Arkhamic', sans-serif;
  position: relative;
}

.ru{
  font-family: 'Conkordia', 'Arkhamic', sans-serif;
  .sideXP {
    top: 6.2mm;
  }
}

.ko,
.zn,
.zh-cn {
  .title {
    top: 6.5mm;
  }
}

.title {
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 1.3em;
  top: 6.1mm;
  z-index: 2;
  font-size: 4.8mm;
  line-height: 1;
  color: #2E2622;
  &:hover .clear {
    display: flex;
  }
  &_ru {
    font-size: 4.5mm;
    top: 6.6mm;
  }
}

.clearIcon {
  width: 6mm;
  cursor: pointer;
}

.titleContent {
  position: relative;
  display: flex;
}

.titleInput {
  font-family: inherit;
  height: 5.6mm;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &_m {
    font-size: 4.4mm;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
  z-index: 1;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  z-index: 2;
}

.iconSelect {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
}

.iconSelect:hover + .iconItem {
  // background-color: black;
  opacity: 0.7;
}

.icon_small {
  color: #2E2622;
  font-size: 6.6mm;
  // font-size: 5mm;
  // font-size: 5.7mm;
  width: 8.3mm;
  height: 8.3mm;
  right: 4.7mm;
  // right: 5.9mm;
  border-radius: 50%;
  overflow: hidden;
}

.player {
  .icon_small_noXP {
    font-size: 6mm;
  }
}

.icon_large {
  opacity: 0.05;
  transform: translate(-50%, 0);
  left: 50%;
  font-size: 50mm;
  height: 46mm;
}

.menu {
  position: absolute;
  z-index: 3;
  color: rgba(0, 0, 0, 0.3);
  // text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.status {
  position: absolute;
  z-index: 2;
  right: 7.8mm;
  bottom: 11mm;
}

.xpCost {
  position: absolute;
  z-index: 1;
  right: 5.05mm;
  top: 5.77mm;
}

.sideXP {
  position: absolute;
  z-index: 1;
  right: 14.7mm;
  top: 6.8mm;
}

.textStroke {
  box-sizing: border-box;
  color: transparent;
  @include clipX(0, 15mm);
}


.grayscale {
  .textStroke {
    @include textStroke(white);
  }
}

.color {
  .textStroke {
    @include textStroke(rgba(228, 208, 156, 0.7));
  }
}