.container {
  font-family: 'Teutonic', 'Conkordia', 'Arkhamic', sans-serif;
  position: relative;
}

.title {
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 1.3em;
  top: 5.6mm;
  z-index: 2;
  line-height: 1;
  &:hover .clear {
    display: flex;
  }
}

.clearIcon {
  width: 6mm;
  cursor: pointer;
}

.titleContent {
  position: relative;
  display: flex;
}

.titleInput {
  font-family: inherit;
  height: 5.6mm;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &_m {
    font-size: 4.4mm;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
  z-index: 1;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  z-index: 2;
}

.icon_small {
  font-size: 4.4mm;
  width: 7.2mm;
  height: 6.8mm;
  right: 4.3mm;
}

.icon_large {
  opacity: 0.1;
  transform: translate(-50%, 0);
  left: 50%;
  font-size: 40mm;
}

.menu {
  position: absolute;
  z-index: 3;
  color: #b9b9b9;
}


.grayscale {
  .stroke {
    text-shadow: 1px 1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255);
  }
}

.color {
  .stroke {
    text-shadow: 1px 1px rgba(228, 208, 156, 0.7), 1px -1px rgba(228, 208, 156, 0.7), -1px -1px rgba(228, 208, 156, 0.7), -1px 1px rgba(228, 208, 156, 0.5)
  }
}

.status {
  position: absolute;
  z-index: 1;
  right: 6.8mm;
  bottom: 10mm;
}

.xpCost {
  position: absolute;
  z-index: 1;
  right: 4.35mm;
  top: 4.25mm;
}

.sideXP {
  position: absolute;
  z-index: 1;
  right: 13.7mm;
  top: 5.2mm;
}