.horizontal {

  .title {
    padding: 0 12mm;
  }

  .titleInput {
    &_ko {
      font-size: 4mm;
    }
    &_zh, &_zh-cn {
      position: relative;
      top: 0.3mm;
    }
  }

  .clear {
    right: 0;
  }

  .icon_small {
    top: 4.8mm;
    &_noXP {
      top: 5mm;
    }
    &_withXP {
      top: 4.4mm;
    }
  }

  .icon_large {
    top: 20mm;
  }

  .menu {
    top: 50%;
    transform: translate(0, -50%);
    right: 8mm;
    flex-direction: column;
    gap: 10px;
  }
}
