@use "@/app/sass/mixins.scss" as mixins;

.horizontal {

  .title {
    padding: 0 14mm;
  }

  .titleInput {
    &_ko {
      font-size: 4mm;
    }
    &_zh, &_zh-cn {
      transform: scale(0.8);
      position: relative;
      top: 0.05em
    }
  }

  .clear {
    right: 0;
  }

  .icon_small {
    top: 5.8mm;
    &_noXP {
      top: 5.2mm;
    }
    &_withXP {
      font-size: 5mm;
      top: 4.9mm;
    }
  }

  .icon_large {
    top: 20mm;
  }

  .menu {
    top: 50%;
    transform: translate(0, -50%);
    right: 9mm;
    flex-direction: column;
    gap: 10px;
  }
}

.classic-horizontal-hq {
  .icon_small {
    top: 4.4mm;
    right: 3.8mm;
  }
  .title {
    top: 5.6mm;
  }
  .textStroke {
    @include mixins.textStroke(rgba(208, 192, 165, 0.7));
  }
}