.vertical {
  .title {
    padding: 0 12mm 0 6mm;
    &_m {
      padding-top: 0.2mm;
    }
    &_l {
      padding-top: 0.8mm;
    }
    &_xl {
      padding-left: 0.2mm;
      padding-top: 1.4mm;
    }
  }
  
  .titleInput {
    padding-right: 1mm;
    padding-left: 6mm;
    &_zh, &_zh-cn, &_ko {
      transform: scale(0.9);
      position: relative;
      top: -0.4mm;
    }
  }

  .icon_small {
    right: 5.6mm;
    &_noXP {
      top: 6.9mm;
    }
    &_withXP {
      top: 6.3mm;
    }
  }
  
  .icon_large {
    top: 31mm;
    // font-size: 46mm;
  }
  
  .menu {
    top: 15mm;
    gap: 10px;
    left: 50%;
    transform: translate(-50%, 0)
  }
  .xpCost {
    top: 5.5mm;
    right: 4.7mm;
  }
}

