.xpCost {
  position: absolute;
  z-index: 1;
  // right: -2.2mm;
  right: 2.3mm;
  // top: 1.05mm;
  top: 5.7mm;
  // top:0;
}

.sideXP {
  position: absolute;
  z-index: 1;
  right: 17mm;
  top: 6.1mm;
}

.title {
  top: 5.8mm;
}