.xpCost {
  position: absolute;
  z-index: 3;
  // right: -2.2mm;
  right: 3.3mm;
  // top: 1.05mm;
  top: 6.7mm;
  // top:0;
}

.sideXP {
  position: absolute;
  z-index: 1;
  right: 18mm;
  top: 7.1mm;
}

.title {
  &_horizontal {
    top: 6.8mm;
  }
  &_vertical {
    top: 6.6mm;
    left: 0.2mm
  }
}

.icon {
  width: 8.3mm;
  height: 8.3mm;
  right: 5.4mm;
  top: 4.9mm;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 50%;
  }
  &:hover::after {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
  }
  &_xp {
    top: 4.8mm;
    right: 5.5mm
  }
}
.iconBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.iconContent {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.9mm;
  aspect-ratio: 1;
  left: 1.8mm;
  top: 1.8mm;
  box-sizing: border-box;
}