.xpCost {
  position: absolute;
  z-index: 3;
  // right: -2.2mm;
  right: 3.3mm;
  // top: 1.05mm;
  top: 6.7mm;
  // top:0;
}

.sideXP {

  font-family: 'Conkordia', 'Arkhamic', sans-serif;
  position: absolute;
  z-index: 1;
  right: 18mm;
  top: 7.3mm;
  font-size: 4mm;
  line-height: 1;
}

.title {
  &_horizontal {
    top: 6.4mm;
  }
  &_vertical {
    top: 6.2mm;
    left: 0.2mm
  }
}

.ru {
  .title {
    &_horizontal {
      top: 6.7mm;
    }
    &_vertical {
      top: 6.5mm;
    }
  }
}

.icon {
  width: 8.3mm;
  height: 8.3mm;
  right: 5.4mm;
  top: 4.9mm;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 50%;
  }
  &:hover::after {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
  }
  &_xp {
    top: 4.8mm;
    right: 5.5mm
  }
}
.iconBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.iconContent {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.9mm;
  aspect-ratio: 1;
  left: 0.8mm;
  top: 0.8mm;
  box-sizing: border-box;
}