.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 20px;
}

.rule {
  height: 1px;
  width: 100px;
  border-bottom: 1px solid #e7e7e7;
}
.wrapper {
  min-width: 300px;
  flex: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 800px;
  padding: 20px;
  gap: 20px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
  border-radius: 5px;

  margin: 0 auto;
}

.size {
  text-align: center;
}


.info {
  max-width: 300px;
}