.removedInfo {
  display: flex;
  gap: 2px;
  align-items: center;
}

.container {
  display: inline-flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  @media print {
    display: none;
  }
}

.hiddenInfo {
  gap: 3px;
}

.hideIcon {
  width: 8mm;
}


.refreshIcon {
  width: 6mm;
  transform: scale(1.3);
}