.vertical {
  .title {
    padding: 0 12mm 0 6mm;
    &_m {
      padding-top: 0.2mm;
    }
    &_l {
      padding-top: 0.8mm;
    }
    &_xl {
      padding-left: 0.2mm;
      padding-top: 1.4mm;
    }
  }
  
  .titleInput {
    padding-right: 1.5mm;
    padding-left: 6mm;
    &_zh, &_zh-cn, &_ko {
      transform: scale(0.9);
      position: relative;
      top: -0.4mm;
    }
  }

  .icon_small {
    right: 4.2mm;
    &_noXP {
      top: 5.5mm;
    }
    &_withXP {
      font-size: 5mm;
      top: 4.9mm;
    }
  }
  
  .icon_large {
    top: 31mm;
  }
  
  .menu {
    top: 15mm;
    gap: 10px;
    left: 50%;
    transform: translate(-50%, 0)
  }
  .xpCost {
    top: 5.9mm;
    right: 4.6mm;
  }
}

