.icon {
  aspect-ratio: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
}

.uploadButton {
  width: 100%;
}

.customIcon {
  width: 0.8em;
  height: 0.8em;
  
}