.icon {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  min-height: 1.5em;
  @media (min-width: 600px) {
    aspect-ratio: 1;
  }
}

.uploadButton {
  width: 100%;
}

.customIcon {
  width: 0.8em;
  height: 0.8em;
  
}