@import "../../../../sass/mixins.scss";

.container {
  font-family: 'Teutonic', 'Teutonic2', 'Conkordia', 'Arkhamic', sans-serif;
  color: #352e1f;

  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.background {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.strip {
  position: absolute;
  z-index: 3;
  // cursor: pointer;
  &_vertical {
    top: 0;
    left: 3.5mm;
    &_withXPCost {
      top: auto;
      bottom: 0;
    }
  }
  &_horizontal {
    top: 3.5mm;
    right: -2.7mm;
  }
  // &_hidden {
  //   opacity: 0;
  // }
  // &:hover {
  //   opacity: 0.5;
  // }
}

.title {
  position: absolute;
  z-index: 3;
  &_horizontal {
    left: 25.5mm;
    right: 28mm;
    top: 3.5mm;
    height: 3.5mm;
  }
  &_withXP {
    right: 38mm;
  }
  &_vertical {
    left: 3.5mm;
    right: 28mm;
    bottom: 15mm;
    height: 3.5mm;
    white-space: nowrap;
    &_withPlayerStrip {
      bottom: 27mm;


      .verticalTitleContainer {
        width: 17mm;
      }
    }
  }
}

.iconCorner {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  
  &_horizontal {
    top: 0;
    left: 8mm;
  }
  &_vertical {
    left: 0;
    bottom: -5.8mm;
  }
  &:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
  }
}

.iconCornerImage {
  width: 13.5mm;
}

.icon {
  position: absolute;
  left: 50%;
  top: 3.5mm;
  font-size: 3mm;
  height: 3.7mm;
  display: flex;
  transform: translateX(-50%);
  align-items: end;
}

.verticalContainer {
  transform: rotate(-90deg);
  transform-origin: top left;
}

.verticalTitleContainer {
  height: 3.5mm;
  width: 27mm;
}

.playerCorner {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  left: -0.8mm;
  top: -2mm;
  &:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
  }
}

.xpCost {
  position: absolute;
  z-index: 3;
  font-size: 3mm;

  // color: white;
  // @include textStroke(#352e1f, 0.3mm, 0.15mm);
  &_horizontal {
    right: 28mm;
    top: 3.5mm;
    height: 3.5mm;
  }
  &_vertical {
    left: 3.5mm;
    top: 26mm;
  }
}

.verticalXPContainer {
  width: 8mm;
  height: 3.5mm;
}

.menu {
  position: absolute;
  z-index: 3;
  top: 12mm;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
}

.menuInner {
  gap: 10px; 
}

.campaignIcon {
  position: absolute;
  z-index: 3;
  font-size: 2.2mm;
  &_horizontal {
    left: 22mm;
    top: 3.9mm;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &_vertical {
    transform: rotate(-90deg);
    bottom: 27mm;
    left: 4.2mm;
  }
}

.cornerRadius {
  z-index: 3;
  border-color: rgba(255, 255, 255, 0.5);
}