.container {
  position: relative;
}

.guide {
  position: absolute;
  &::before, &::after {
    content: '';
    position: absolute;
    display: block;
    background: black;
    z-index: 1;
  }
  &::before {
    width: 0.1mm;
    height: 10.1mm;
    top: -5mm;
  }
  &::after {
    width: 10.1mm;
    height: 0.1mm;
    left: -5mm;
  }
}

.guide_tl {
  top: 0;
  left: 0;
}

.guide_tr {
  top: 0;
  right: 0;
}

.guide_bl {
  bottom: 0;
  left: 0;
}

.guide_br {
  bottom: 0;
  right: 0;
}