.container {
  margin: 0 auto;
  max-width: 500px;
  @media print {
    display: none;
  }
}

.announce {
  padding: 10px;

  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.investigatorHeader {
  gap: 2px;
}

.investigatorDescription {
  font-size: 12px;
}

.download {
  gap: 10px;
}

.investigator {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}

.ios {
  position: relative;
  text-align: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  white-space: nowrap;
}

.unlock {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
}

.link {
  color: inherit;
}
