.container {
  margin: 0 auto;
  max-width: 500px;
}

.announce {
  padding: 10px;


  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.investigator {
  display: flex;
  gap: 10px;
}

.ios {
  text-align: center;
  justify-content: center;
  gap: 5px;
}
