.container {
  margin: 0 auto;
  max-width: 400px;
}

.announce {
  align-items: center;
  gap: 10px;
  padding: 10px;


  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

// .announce + .announce {
//   border-top: 1px solid #e7e7e7;
//   padding-top: 10px;
// }