.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  padding: 10px 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.enabled {
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  &:not(.selected):hover {
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
  border: 1px dashed black;
}

.selected {
  background-color: rgb(255, 205, 72);
}
