.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.item {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  &:hover {
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}

.selected {
  background-color: rgb(255, 205, 72);
}
