.image {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
}

.title {
  position: absolute;
  z-index: 2;
  height: 6mm;
  top: 7.4mm;
  left: 19mm;
  right: 19mm;
  font-size: 4.3mm;
  text-align: center;
  box-sizing: border-box;
  &_scenario {
    width: 58mm;
  }
}

.zh,
.zh-cn,
.ko {
  .title {
    font-size: 3.8mm;
    top: 6.7mm
  }
}

.container {
  font-family: 'Teutonic', 'Conkordia', 'Arkhamic', sans-serif;
  position: relative;
}

.ru {
  font-family: 'Conkordia', 'Arkhamic', sans-serif;
}

.icon {
  position: absolute;
  z-index: 2;
  font-size: 8.3mm;
  top: 5.8mm;
  left: 9.9mm;
  aspect-ratio: 1;
  width: 8.5mm;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.campaignIcon {
  position: absolute;
  z-index: 2;
  font-size: 5mm;
  bottom: 8.2mm;
  left: 50%;
  transform: translateX(-50%);
  width: 5.9mm;
  height: 5.9mm;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.scenarioNumber {
  position: absolute;
  z-index: 3;
  top: 7.1mm;
  right: 11.2mm;
  width: 5.3mm;
  aspect-ratio: 1;
  font-size: 4.8mm;
  white-space: nowrap;
  text-align: center;
  // display: grid;
  // align-items: center;
  // line-height: 0;
  // line-height: 1.5;
  // line-height: 6.1mm;
}

.scenarioNumberContainer {
  position: absolute;
  width: 4mm;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  // transform: translateY(5%) translateX(1%);
  // box-sizing: border-box;
  // // margin-top: 0.2mm;
  // width: 4mm;
  // text-align: center;
  // display: inline-grid;
  // align-items: center;
  // justify-content: center;
}