@font-face {
    font-family: 'Conkordia';
    src: local("Conkordia"), 
        url('/fonts/conkordia.woff2') format('woff2'), 
        url('/fonts/conkordia.svg') format('svg');
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Allegreya';
    src: local("Allegreya"), 
        url('/fonts/Allegreya-Regular.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Allegreya';
    src: local("Allegreya"), 
        url('/fonts/Allegreya-Italic.ttf') format('truetype');
    font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: 'Arkhamic';
    src: local("Arkhamic"), 
        url('/fonts/Arkhamic.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}