# Cross-Origin Embedder Policy and Cross-Origin Opener Policy for SharedArrayBuffer support
<IfModule mod_headers.c>
  Header always set Cross-Origin-Opener-Policy "same-origin"
  Header always set Cross-Origin-Embedder-Policy "credentialless"
</IfModule>

# WASM MIME type
AddType application/wasm .wasm