.icon {
  font-family: 'ArkhamIcons';
  user-select: none;
  position: relative;
  line-height: 1;
}

.waking_nightmare {
  left: -0.05em;
  top: 0.05em;
}

.mystic {
  top: -0.03em;
}

.agents_of_yog {
  top: -0.06em;
  left: 0.07em;
}