.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.selectContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.select {
  width: 300px;
}
.core {
  display: flex;
  align-items: center;
  gap: 5px;
}