.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categorySelect {
  width: 100%;
  min-width: 160px; 
}

.layoutSelect {
  width: 100%;
  min-width: 120px; 
}


.category {
  cursor: pointer;
  color: blue;
  display: flex;
  gap: 5px;
  align-items: center;
}

.color {
  flex-shrink: 0;
  // flex: 0;
}