.container {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 6px 14px;
  justify-content: center;
  min-width: 70px;
  min-height: 40px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  &:hover {
    opacity: 0.9;
  }
  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
}

.primary {
  background-color: rgb(255 205 72);
  border: 1px solid hsl(0, 0%, 80%);
}

.danger {
  background-color: rgb(233 77 26);
  color: #f5f5f5;
}