.container {
  position: relative;
}

.guides {
  position: absolute;
  // z-index: 5;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.guidesContent {
  width: 100%;
  height: 100%;
}

.divider {
  position: relative;
}