@import "./common.module.scss";

.divider {
  aspect-ratio: 95 / 82;
  width: 95mm;
}

.noBleeds {
  .guides {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .wrapper {
    width: 88.9mm;
    height: 76.2mm;
    overflow: hidden;
  }

  .divider {
    top: -2.2mm;
    left: -2.8mm;
  }
}

.withBleeds {
  .guides {
    width: 88.9mm;
    height: 76.2mm;
    top: 2.2mm;
    left: 2.8mm;
  }
}

.title {
  padding: 0 11.2mm;
}

.clear {
  right: 0;
}

.icon_small {
  top: 5.9mm;
}

.icon_large {
  top: 17mm;
}