@import "./common.module.scss";

.container {
  aspect-ratio: 95 / 82;
  width: 95mm;
}

.title {
  padding: 0 11.2mm;
}

.clear {
  right: 11.2mm;
  top: 1.5mm;
}

.layout_return_bw_horizontal {
  .titleInput {
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 1px -1px rgba(255, 255, 255, 0.5), -1px -1px rgba(255, 255, 255, 0.5), -1px 1px rgba(255, 255, 255, 0.5);
  }
}

.layout_return_color_horizontal {
  .titleInput {
    text-shadow: 1px 1px rgba(228, 208, 156, 0.5), 1px -1px rgba(228, 208, 156, 0.5), -1px -1px rgba(228, 208, 156, 0.5), -1px 1px rgba(228, 208, 156, 0.5)
  }
}

.icon_small {
  top: 5.9mm;
}

.icon_large {
  top: 17mm;
}