@import "./common.module.scss";

.container {
  aspect-ratio: 82 / 95;
  width: 82mm;
}

.title {
  padding: 0.2mm 11.2mm 0 11.2mm;
}

.clear {
  right: 12mm;
  top: 1.5mm;
}

.clearIcon {
  width: 6mm;
}

.layout_return_bw_vertical {
  .titleInput {
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 1px -1px rgba(255, 255, 255, 0.5), -1px -1px rgba(255, 255, 255, 0.5), -1px 1px rgba(255, 255, 255, 0.5);
  }
}

.layout_return_color_vertical {
  .titleInput {
    text-shadow: 1px 1px rgba(228, 208, 156, 0.5), 1px -1px rgba(228, 208, 156, 0.5), -1px -1px rgba(228, 208, 156, 0.5), -1px 1px rgba(228, 208, 156, 0.5)
  }
}

.icon_small {
  top: 6.1mm;
}

.icon_large {
  top: 20mm;
}