@import "./common.module.scss";

.divider {
  aspect-ratio: 82 / 95;
  width: 82mm;
}


.noBleeds {
  .guides {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .wrapper {
    height: 88.9mm;
    width: 76.2mm;
    overflow: hidden;
  }

  .divider {
    top: -2.2mm;
    left: -2.8mm;
  }
}

.withBleeds {
  .guides {
    height: 88.9mm;
    width: 76.2mm;
    top: 2.2mm;
    left: 2.8mm;
  }
}
.title {
  padding: 0.2mm 11.2mm 0 11.2mm;
}

.clear {
  right: 12mm;
  top: 1.5mm;
}

.clearIcon {
  width: 6mm;
}

.layout_return_bw_vertical {
  .titleInput {
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 1px -1px rgba(255, 255, 255, 0.5), -1px -1px rgba(255, 255, 255, 0.5), -1px 1px rgba(255, 255, 255, 0.5);
  }
}

.layout_return_color_vertical {
  .titleInput {
    text-shadow: 1px 1px rgba(228, 208, 156, 0.5), 1px -1px rgba(228, 208, 156, 0.5), -1px -1px rgba(228, 208, 156, 0.5), -1px 1px rgba(228, 208, 156, 0.5)
  }
}

.icon_small {
  top: 6.1mm;
}

.icon_large {
  top: 22mm;
}