.container {
  font-family: 'Teutonic', 'Conkordia', 'Arkhamic', sans-serif;
  position: relative;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.ru {
  font-family: 'Conkordia', 'Arkhamic', sans-serif;
}


.background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.titleInput {
  text-align: left;
  padding: 0.2em;
  &_scenario, &_campaign, &_player, &_investigator {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
  }
}


.light {
  color: white;
}

.icon {
  aspect-ratio: 1;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &_type-encounter {
    font-size: 1.2em;
    top: 3.5mm;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &_type-scenario, &_type-campaign {
    font-size: 1.2em;
    width: 1.1em;
    top: 7.9mm;
    left: 8.1mm;
  }
  &:hover {
    opacity: 0.8;
  }
}

.campaignIcon {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.type_encounter .campaignIcon {
  font-size: 0.6em;
  color: #fff;
  top: 5.45mm;
  right: 5.7mm;
}

.type_scenario, .type_campaign {
  .campaignIcon {
    font-size: 0.55em;
    width: 1.1em;
    top: 9.5mm;
    right: 5mm;
  }
}

.content {
  position: absolute;
  text-align: center;
  z-index: 2;
  width: 100%;
  bottom: 13.6mm;
  padding: 0 7.5mm;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  // align-items: center;
  // height: ;
}

.mainIcon {
  flex: 1;
}


.title {
  position: absolute;
  z-index: 3;
  &_encounter {
    width: 100%;
    text-align: center;
    padding: 0 5mm;
    box-sizing: border-box;
    top: 8.7mm;
  }
  &_scenario, &_campaign, &_player, &_investigator {
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
  }
  &_scenario, &_campaign {
    top: 6.9mm;
    left: 15mm;
    height: 8.15mm;
    padding-right: 2.5mm;
  }
  &_player, &_investigator {
    top: 7.2mm;
    left: 16mm;
    height: 7.6mm;
  }
  &_zh, &_zh-cn, &_ko {
    line-height: 1.1;
    padding-top: 0.2em;
    // margin-top: -0.1em;
  }
}

.scenarioTitle {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 0 7.5mm;
  box-sizing: border-box;
  font-family: 'Arno Pro', 'Alegreya', sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 0.63em;
}

.scenarioInputTitle {
  // font-size: 0.63em;
}

.nowrap {
  white-space: nowrap;
}

.menu {
  position: absolute;
  z-index: 2;
  color: rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1mm;
  @media print {
    display: none;
  }
}

.menuContainer {
  gap: 2mm;
}

.sideXP {
  position: absolute;
  z-index: 2;
  top: 10.1mm;
  right: 14.3mm;
}

.xpCost {
  position: absolute;
  z-index: 2;
  top: 7.9mm;
  right: 9.4mm;
}

.xpTitle {
  position: absolute;
  z-index: 2;
  top: 19.6mm;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 0.63em;
  line-height: 1.05;
  font-family: 'Arno Pro', 'Alegreya', sans-serif;
}