.vertical {
  .menu {
    top: 28mm;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .title {
    &_scenario, &_campaign {
      width: 45mm;
    }
  }

  .scenarioTitle {
    top: 21.2mm;
  }

  .icon {
    &_main {
      top: 50%;
      font-size: 5.6em;
    }
  }
}