.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  @media print {
    padding: 0;
    display: block;
  }
}

.group {
  margin: 0 auto;
  text-align: center;
}

.row {
  display: flex;
}