.container {
  font-family: 'Arno Pro', serif;
  font-weight: normal;
  display: flex;
  gap: 0.6mm;
  align-items: start;
  
  font-size: 3mm;
  min-height: 1.5em;
}

.size {
  color: #000000ad;
  font-size: 3.5mm;
  display: flex;
  align-items: center;
  position: relative;
  top: 0.2mm;
  letter-spacing: -0.2mm;
}

.campaignIcon {
  position: relative;
  display: flex;
  align-items: center;
  top: 0.2mm;
  color: #2E2622;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}