.container {
  a {
    color: inherit;
  }
}

.icon {
  width: 5mm;
}

.freeIcon {
  position: relative;
  top: 1mm;
  margin-right: 1.5mm;
}

.qr {
  width: 15mm;
  @media (min-width: 200mm) {
    width: 20mm;
  }
}

.row {
  gap: 2mm;
  text-align: left;
  max-width: 77mm;
}