.container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.icons {
  display: flex;
  gap: 3px
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.1em;
}

.official {
  color: #275891;
}

.selected .official {
  color: inherit;
}

.selected .notSupported {
  color: inherit;
}

.notSupported {
  position: relative;
  top: 0.1em;
  font-size: 0.8em;
  color: black;
}