.container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.icons {
  display: flex;
  gap: 3px
}

.icon {
  display: flex;
  align-items: center;
  width: 1.1em;
}

.official {
  color: #275891;
}

.selected .official {
  color: inherit;
}