.container {
  font-family: "Teutonic", "Conkordia", "Arkhamic", sans-serif;
  // position: relative;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.ru {
  font-family: "Conkordia", "Arkhamic", sans-serif;
  line-height: 1;
}

.line {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1.4mm;
  left: 0;
  background-color: #000;
  &_top {
    top: 3.4mm;
  } 
  &_bottom {
    bottom: 3.2mm;
  }
}

.content {
  padding-top: 0.5mm;
  position: absolute;
  z-index: 4;
  height: 100%;
  // width: 100%;
  display: flex;
  align-items: center;
  left: 60mm;
  gap: 4mm;
  width: 63mm;
  gap: 1.6mm;
}

.text {
  flex: 1;
  width: 100%;
  font-size: 16.1px;
  box-sizing: border-box;
}

.input {
  display: grid;
  align-items: center;
}

.icon {
  width: 9.93mm;
  height: 9.93mm;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7mm;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.scenario, .standalone {
  .content {
    width: auto;
    left: auto;
    right: 56.8mm;
    justify-content: flex-end;
  }
  .icon {
    order: 1;
  }
  .text {
    position: absolute;
    right: 4.9mm;
    width: 60mm;
    text-align: center;
    padding: 0 2mm;
  }

  .input {
    justify-content: center;
  }
}

.scenario {
  .icon {
    font-size: 9mm;
  }
  .text {
    font-size: 17.6px;
  }
}

.standalone {
  .content {
    right: 152.9mm;
  }
}

.concealed {
  .content {
    left: 76.5mm;
    width: 26mm;
  }
  .text {
    position: static;
    font-size: 4.5mm;
    text-align: center;
  }
  &.standalone {
    .content {
      left: 107.8mm;
      width: 37mm;
    }
    .text {
      font-size: 6mm;
    }
  }
}


.menu {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 20mm;
  transform: translate(0, -50%);
  opacity: 0.4;
}

.menuContainer {
  gap: 10px;
}

