.container {
  position: relative;
}

.withPlus {
  top: 0.05em;
  font-size: 0.95em;
}

.withRange {
  position: relative;
  top: -0.05em;
  left: 0.02em;
  font-size: 0.7em;
}

.single {

}

.plus {
  position: relative;
  font-size: 0.57em;
  top: -0.17em;
  &_0 {
    margin-left: -0.05em;
  }
  &_1 {
    margin-left: -0.25em;
  }
  &_2 {
    margin-left: -0.15em;
  }
  &_3 {
    margin-left: -0.1em;
  }
}

.minus {
  font-size: 0.8em;
  position: relative;
  top: -0.05em;
  margin-right: 0.1em;
  margin-left: 0.05em;
}

.number {
  position: relative;
  &_1,
  &_2,
  &_3, 
  &_5 {
    top: 0.03em;
  }
}