.container {
  // display: none;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  @media print {
    display: none
  }
  @media (min-width: 768px) {
    gap: 20px;
  }
}


.row {
  // width: 100%;
  align-items: center;

  justify-content: space-between;
  flex-wrap: wrap;
  @media (min-width: 500px) {
    width: auto;
  }

  @media (min-width: 600px) {
    // justify-content: end;
  }
}

.print {
  flex-grow: 1;
  display: flex;
  // justify-content: end;
}

.languageSelect {
  position: relative;
  z-index: 2;
}

.printRow {
  justify-content: space-between;
  width: 100%;
  @media (min-width: 600px) {
    justify-content: end;
  }
}


.zoom {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

.printButton {
  white-space: nowrap;
}

.mainRow {
  width: 100%;
  @media (min-width: 367px) {
    width: auto;
  }
}

.layoutRow {
  position: relative;
  z-index: 2;
}

.additional {
  display: none;
  position: relative;
  z-index: 1;
  @media (min-width: 367px) {
    display: block;
  }
}