.container {
  // display: none;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  @media print {
    display: none
  }
}


.row {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 500px) {
    width: auto;
  }
}

.print {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}
