.container {
  padding: 20px 10px;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  line-height: 1.25;

  // background-color: rgb(240, 240, 240) ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  @media print {
    display: none;
  }

  a {
    color: inherit
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.contact {
  text-decoration: none;
  &:hover {
    color: rgb(225 173 36);
  }
}

.social {
  display: flex;
  font-size: 24px;
  gap: 10px;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}
