.container {
  padding: 20px;
  box-sizing: border-box;
  font-size: 12px;
  // background-color: rgb(240, 240, 240) ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  @media print {
    display: none;
  }
}