.container {
  font-size: 16px;
  min-height: 100vh;
  @media print {
    gap: 0;
    text-align: center;
  }
}

.content {
  padding-top: 250px;
  flex: 1;
  @media (min-width: 334px) {
    padding-top: 200px;
  }
   @media (min-width: 367px) {
    padding-top: 150px;
  }
  @media (min-width: 950px) {
    padding-top: 100px;
  }
  @media print {
    padding-top: 0;
  }
}

.addDividers {
  position: relative;
  z-index: 2;
}

.layout {
  position: relative;
  z-index: 1;
}