@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Arno Pro';
  src: local("ArnoPro"), 
      url('./fonts/ArnoPro-Caption.woff2') format('woff'), 
      url('./fonts/ArnoPro-Caption.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arno Pro';
  src: local("ArnoPro-Bold"), 
      url('./fonts/ArnoPro-Bold.woff2') format('woff'), 
      url('./fonts/ArnoPro-Bold.woff') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arno Pro';
  src: local("ArnoPro-BoldItalic"), 
      url('./fonts/ArnoPro-BoldItalic.woff2') format('woff'), 
      url('./fonts/ArnoPro-BoldItalic.woff') format('woff2');
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'Conkordia';
  src: url('./fonts/conkordia.woff2') format('woff2'), 
      url('./fonts/conkordia.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arkhamic';
  src: url('./fonts/Arkhamic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teutonic';
  src: url('./fonts/teutonic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teutonic2';
  src: url('./fonts/teutonic2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@page {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  @media print {
    background-color: #fff;
  }
}