.container {
  @media print {
    display: block;
    padding: 0;
  }
}


.groups {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 1;
  @media print {
    display: block;
  }
}

.group {
  margin: 0 auto;
}

.row {
  &_side_back {
    justify-content: end;
  }
}