.container {
  display: flex;
  @media print {
    display: none;
  }
}

.icon {
  color: #b9b9b9;
  cursor: pointer;
  z-index: 1;
  &:hover {
    opacity: 0.8;
  }
}

.remove {
  font-size: 40px;
}

.copy {
  font-size: 30px;
  position: relative;
  left: 5px;
  bottom: -5px;
}