.container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  a {
    color: inherit;
  }
  @media print {
    a {
      text-decoration: none;
    }
  }
}

.icon {
  // width: 5mm;
}

.freeIcon {
  position: relative;
  font-size: 3em;
  // top: 0.5mm;
  // height: 1em;
  margin-right: 0.3mm;
  display: inline-flex;
  align-items: center;
}

.symbol {
  margin-right: 0.5em;
}

.qr {
  flex-shrink: 0;
  width: 15mm;
  height: 15mm;
  @media (min-width: 200mm) {
    width: 20mm;
    height: 20mm;
  }
}

.row {
  gap: 2mm;
  text-align: left;
  align-items: center;
  max-width: 100mm;
}

.support {
  display: flex;
  gap: 2mm;
  align-items: center;
}

.supportContent {
  display: flex;
  flex-direction: column;
  text-align: right;
}