.container {
  box-sizing: border-box;
  padding: 20mm 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  position: relative;
  overflow: hidden;

  @media screen {

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    }
  }

  @media print {
    padding: 0;
    box-shadow: none;
    background: #fff;

    page-break-after: always;
  }
}

.last {
  align-items: start;
}

.portrait {
  width: 210mm;
  height: 297mm;
  @media print {
    width: auto;
    height: 100vh;
  }
}

.landscape {
  width: 297mm;
  height: 210mm;
  @media print {
    width: auto;
    height: 100vh;
  }
}

.side_back {
  background-color: #f3f3f3;
  @media screen {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), inset 0 0 20px rgba(0, 0, 0, 0.1);
  
    &:hover {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), inset 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }
}

.counter {
  text-align: right;
  position: absolute;
  font-size: 5mm;
  top: 5mm;
  right: 5mm;
}

.credits {
  font-family: "Allegreya", Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 3mm;
  bottom: 5mm;
  left: 5mm;
}