.container {
  --long-side: 297mm;
  --short-side: 210mm;
  
  box-sizing: border-box;
  padding: 20mm 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  position: relative;
  overflow: hidden;

  @media screen {

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    }
  }

  // .a4 {
  //   --long-side: 297mm;
  //   --short-side: 210mm;
  // }

  @media print {
    padding: 0;
    overflow: visible;
    box-shadow: none;
    background: #fff;
    border-radius: 0;

    // page-break-after: always;
  }
}

.page {
  page-break-after: always;
}

.withCredits {
  align-items: start;
  padding-top: 15mm;
}

.portrait {
  width: var(--short-side);
  height: var(--long-side);
  @media print {
    width: auto;
    // min-height: 100vh;
    // height: auto;
    max-height: var(--long-side);
  }
}

// .browser_chrome {
//   @extend .with_margins;
// }


.landscape {
  width: var(--long-side);
  height: var(--short-side);
  @media print {
    width: auto;
    // height: auto;
    // min-height: 100vh;
    max-height: var(--short-side);
  }
}

.browser_safari {
  // padding: 14.5mm 6.5mm;
  // @media print {
  //   padding: 14.5mm 6.5mm;
  // }
  @media print {
    page-break-after: auto;
    display: block;
    &.landscape,
    &.portrait {
      height: auto;
    }
  }
}

.side_back {
  background-color: #f3f3f3;
  @media screen {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), inset 0 0 20px rgba(0, 0, 0, 0.1);
  
    &:hover {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), inset 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }
}

.counter {
  text-align: right;
  position: absolute;
  z-index: 2;
  font-size: 2.2mm;
  top: 2mm;
  right: 2mm;
  transform: rotate(-90deg);
  transform-origin: bottom right;
}

.credits {
  font-family: "Alegreya", Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 3mm;
  bottom: 5mm;
  left: 5mm;
  right: 5mm;
}