.container {
  box-sizing: border-box;
  padding: 20mm 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  position: relative;

  @media print {
    padding: 0;
    box-shadow: none;
    background: #fff;
  }
}

.portrait {
  width: 210mm;
  height: 297mm;
}

.landscape {
  width: 297mm;
  height: 210mm;
}

.side_back {
  background-color: #f3f3f3;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), inset 0 0 20px rgba(0, 0, 0, 0.1);
  @media print {
    box-shadow: none;
  }
}

.counter {
  position: absolute;
  font-size: 5mm;
  top: 5mm;
  right: 5mm;
}