.icon {
  width: 32px;
  cursor: pointer;
  position: relative;
  top: -4px;
}

.icon_vertical {
  transform: rotate(90deg);
}

.container {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  gap: 10px;
}

.select {
  width: 100%;
  min-width: 100px; 
}

.color {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}